In [1]:
import wrangle

In [2]:
df = wrangle.wrangle_zillow()

Reading from local CSV...

In [3]:
df

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
0,4.0,3.0,2090.0,615000.0,1973.0,8625.75,6037.0
1,5.0,3.0,2479.0,531642.0,1973.0,6722.67,6037.0
2,4.0,2.0,2057.0,328148.0,1973.0,4160.63,6037.0
3,4.0,3.0,2423.0,297377.0,1978.0,3883.47,6037.0
4,4.0,3.0,2226.0,297001.0,1978.0,3884.27,6037.0
...,...,...,...,...,...,...,...
2148357,4.0,3.0,2143.0,282629.0,1980.0,4064.84,6111.0
2148358,4.0,2.5,2210.0,566332.0,1981.0,5970.26,6111.0
2148359,3.0,1.0,1204.0,82201.0,1955.0,904.66,6111.0
2148360,4.0,2.0,1708.0,218028.0,1961.0,2471.18,6111.0
2148361,3.0,2.0,2004.0,649000.0,2005.0,6938.12,6111.0

In [4]:
df.isnull().sum()

bedroomcnt                      0
bathroomcnt                     0
calculatedfinishedsquarefeet    0
taxvaluedollarcnt               0
yearbuilt                       0
taxamount                       0
fips                            0
dtype: int64