# Dataframe Manipulation Warmup

In [1]:
import numpy as np
import pandas as pd

np.random.seed(406)

n = 5000
df = pd.DataFrame({
    'favorite_animal': np.random.choice(['cat', 'dog', 'frog', 'lemur', 'panda'], n),
    'favorite_vegetable': np.random.choice(['brussel sprouts', 'potato', 'squash'], n),
    'favorite_fruit': np.random.choice(['banana', 'apple', 'blueberries'], n),
    'wears_glasses': np.random.choice(['yes', 'no'], n),
    'netflix_consumption': np.random.normal(10, 2, n),
    'open_browser_tabs': np.random.randint(2, 90, n),
})

In [21]:
df.head(3)

,favorite_animal,favorite_vegetable,favorite_fruit,wears_glasses,netflix_consumption,open_browser_tabs,wears_glasses2
0,lemur,potato,apple,yes,8.313351,44,True
1,panda,potato,apple,yes,11.801073,10,True
2,cat,squash,blueberries,yes,10.105141,35,True

1. What is the highest amount of netflix consumption? `17.535`

In [3]:
df.netflix_consumption.max()

17.534818515438925

2. How many people wear glasses? What percentage of people is this? `2555`, `.511`

In [25]:
(df.wears_glasses == 'yes').sum(), (df.wears_glasses == 'yes').mean(),

(2555, 0.511)

3. How many people's favorite animal is a dog? `1002`

In [10]:
(df.favorite_animal == 'dog').sum()

1002

4. What is the most common favorite animal? `lemur`

In [12]:
df.favorite_animal.mode()[0]

'lemur'

5. What is the average netflix consumption for people that prefer brussel sprouts? `10.008`

In [16]:
df[df.favorite_vegetable == 'brussel sprouts'].netflix_consumption.mean()

10.00847154798366

6. What is the most common favorite fruit for people who wear glasses and have more than 40 open browser tabs? `blueberries`

In [26]:
df[(df.wears_glasses == 'yes') & (df.open_browser_tabs > 40)].favorite_fruit.mode()[0]

'blueberries'