In [1]:
import warnings
import wrangle
warnings.filterwarnings("ignore")

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import env

In [2]:
df = wrangle.get_zillow()

Reading from local CSV...

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2148362 entries, 0 to 2148361
Data columns (total 7 columns):
 #   Column                        Dtype
---  ------                        -----
 0   bedroomcnt                    float64
 1   bathroomcnt                   float64
 2   calculatedfinishedsquarefeet  float64
 3   taxvaluedollarcnt             float64
 4   yearbuilt                     float64
 5   taxamount                     float64
 6   fips                          float64
dtypes: float64(7)
memory usage: 114.7 MB

In [4]:
df.describe()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
count,2.148351e+06,2.148351e+06,2.138531e+06,2.147874e+06,2.137709e+06,2.143966e+06,2.148362e+06
mean,3.282737e+00,2.223521e+00,1.858390e+03,4.379277e+05,1.960799e+03,5.601987e+03,6.048359e+03
std,9.560015e-01,9.945559e-01,1.217274e+03,6.535662e+05,2.200335e+01,8.078412e+03,2.042209e+01
min,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.801000e+03,1.340000e+00,6.037000e+03
25%,3.000000e+00,2.000000e+00,1.256000e+03,1.793410e+05,1.949000e+03,2.526990e+03,6.037000e+03
50%,3.000000e+00,2.000000e+00,1.620000e+03,3.123750e+05,1.958000e+03,4.092080e+03,6.037000e+03
75%,4.000000e+00,3.000000e+00,2.202000e+03,5.074750e+05,1.975000e+03,6.380340e+03,6.059000e+03
max,1.800000e+01,2.000000e+01,9.525760e+05,9.693955e+07,2.015000e+03,1.337756e+06,6.111000e+03

In [5]:
df.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
0,4.0,3.0,2090.0,615000.0,1973.0,8625.75,6037.0
1,5.0,3.0,2479.0,531642.0,1973.0,6722.67,6037.0
2,4.0,2.0,2057.0,328148.0,1973.0,4160.63,6037.0
3,4.0,3.0,2423.0,297377.0,1978.0,3883.47,6037.0
4,4.0,3.0,2226.0,297001.0,1978.0,3884.27,6037.0

In [6]:
df.isnull().sum()

bedroomcnt                         11
bathroomcnt                        11
calculatedfinishedsquarefeet     9831
taxvaluedollarcnt                 488
yearbuilt                       10653
taxamount                        4396
fips                                0
dtype: int64

In [7]:
len(df)

2148362

In [8]:
df.isnull().sum().sum() / len(df)

0.011818306225859516

#### Drop null values

The sum of all null values in the dataframe is about 1% the number of observations in the dataset. So even if each null value is in a unique row, we can drop all of those rows and only drop 1% of over 2 million records.

In [9]:
orig_len = len(df)

In [10]:
df = df.dropna()

In [11]:
df.shape

(2134359, 7)

In [12]:
(orig_len - len(df))

14003

In [13]:
14003 / orig_len

0.006517989053986246

By dropping nulls, we only lost .7% of the original observations.

In [14]:
def prep_zillow():
    
    # check for null values
    total_nulls = df.isnull().sum().sum()
    
    # if the total number of nulls is less than 5% of the number of observations in the df
    if total_nulls / len(df) < .05:
        # drop all rows containing null values
        df = df.dropna()
    else:
        print('Number of null values > 5% length of df. Evaluate further before dropping nulls.')
    
    return df

In [ ]:
train_scaled, validate_scaled, test_scaled = scale_zillow()